/*************************************
	Audio2 HTML5 Overrides
*************************************/
.the_wrapper {
	margin-bottom: 30px;
}
.thumbsHolderWrapper {
	span.part {
		display: none;
	}
}

.audio2_html5.whiteControllers.thumbsHolder_ThumbOFF {
	color: #f9f9f9 !important;
}
