*, html {
	margin: 0;
	padding: 0;
}
body {
	font-family: $body-font-stack;
	font-size: 12px;
}

h1 { font-size: 20px; }

p { font-size: 14px !important; }

ul, ol {
	margin-left: 12px;

	li {
		padding-bottom: 10px;
	}
}

hr { color: $hr-color; }