// BS Overrides
h1, h2, h3 {
	margin-top: 0;
}
h2 {
	border-bottom: 2px solid $aqua;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
h3 { margin-top: 10px; }

/*img { max-width: 225px; }*/

/*.well {
	background-color: $gray;
	padding-top: 10px;
	padding-bottom: 5px;

	hr { border-top: 3px solid $hr-color; }
} */

.collapse.in {
	display: block !important;
}

.intro {
	margin-top: 75px;

	.logo {
		border-bottom: 2px solid $aqua;
		padding-bottom: 10px;
		margin-bottom: 20px;
		width: 100%;

		img {
			max-width: 225px;
			margin: 0 auto;
		}
	}

	i {
		margin-right: 10px;
	}
}

iframe {
	width: 290px;
	height: 163px;
}

.content img { margin-bottom: 10px; }

/*.btn.cta {
	font-size: 19px;
	width: 100%;
	margin-bottom: 10px;

	i { margin-right: 10px; }
}

.fa-youtube-play { margin-left: 10px; }}*/
