.messages {

    .tab-content {
        padding: 10px 0;
    }
    ul.nav-tabs {
        margin-left: 0;
    }

    .panel-default {
        border: none;
    }

    .list-item {
        padding: 10px;
    }

    .list-item:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .list-item h3 {
        font-size: 20px;
        margin: 0;
    }
}
