$body-font-stack: Helvetica, Arial, sans-serif;
$primary-color: #966793; //royal purple
$secondary-color: #cca0b9; //lavender
$accent-gray: #f5f1f2;
$accent-light-brown: #b59886;
$accent-brown: #734a36;
$hr-color: $secondary-color;